body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.post {
  background: #1EA5A5;
  height: 100px;
}

.post h2 {
  padding-top: 6px; // To line up with thumbnail
}

.post span {
  margin-right: 30px;
  text-transform: uppercase;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-right: 20px;
  background: #fff;
  float: left;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  display: inline-block;
}
