.container {
  width: 600px;
  margin: 0 auto;
}

.post {
  background: aqua;
  height: 100px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  background: tomato;
  /*display: inline-block;*/
  float: left;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}
