.container {
  width: 600px;
  margin: 0 auto;
}

.post {
  background: aqua;
  height: 100px;
}

.post h2 {
  padding-top: 6px; // To line up with thumbnail
}

.post span {
  margin-right: 30px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-right: 20px;
  background: tomato;
  float: left;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}
